@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=IBM+Plex+Sans+JP:wght@700&family=Pathway+Gothic+One&display=swap');

@media (min-width:1024px){
    body{
        display: block;
        margin: 100px;
        margin-top: 10px;
        margin-bottom: 0px;
        
    }
    img{
        float: left;
        width: 33.3%;

    }
    .pic1 .img{
        display: flex;
        width: 33.3%;
        
    }
    .pic2 .img{
        display: flex;
        width: 33.3%;
    }
    .pic3 .img{
        display: flex;
        width: 33.3%;
    }
    .pic4 .img{
        display: block;
        width: 33.3%;
    }
    .pic5 .img{
        display: block;
        width: 33.3%;
    }
    .pic6 .img{
        display: block;
        width: 33.3%;
    }
    
    .text{
        display: inline-block;
        margin: 5px;
        padding: 5px;
        font-family: 'Courier Prime', monospace;

    }

    footer p{
        box-sizing: border-box;
        border: 10px solid black;
        background: black;
        color: white;
        text-align: center;
        width: 100%;
        font-family: 'Courier Prime', monospace;
    }
}